:root {
  --pink-color: #e26e70;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


#open-modal-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px #aba4a4;
  background-color: #fff;
  transition: 0.25s;
}

#open-modal-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

#hide {
  display: none;
}

#modal__inner {
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  animation: showModal linear 0.2s;
  position: relative;
  margin: 200px auto;
}

@keyframes showModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#modal__header {
  background-color: var(--pink-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 17px;
}

#modal__body {
  padding: 15px;
}

#modal__body h2 {
  color: var(--pink-color);
  margin-bottom: 10px;
}

#modal__footer {
  padding: 15px;
  text-align: right;
}

#modal__footer button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: var(--pink-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

i {
  cursor: pointer;
  font-size: 18px;
}